<h2>Track {{track.id}}</h2>
<table class="table table-sm table-responsive-xl text-nowrap table-bordered table-hover">
  <thead class="bg-light">
    <th class="id-col">Roll</th>
    <th>Rarity</th>
    <th>Cat</th>
    <th class="gar-uber-col">Guaranteed Uber</th>
  </thead>
  <tbody>
    <ng-template ngFor let-roll [ngForOf]="track.rolls" let-i="index">
      <tr class="clickable" (click)="roll.showDetails = !roll.showDetails">
        <th scope="row" id="{{roll.id}}" 
            [class.selected]="fragment === roll.id"
            [class.bg-success]="savedRollId === roll.id"
            [class.text-white]="savedRollId === roll.id"
            class="hover-visible-link">
          {{roll.id}}
        </th>
        <td [ngClass]="scoreClass(roll)">
          {{roll.rolledCats[selectedGacha.name].cat.rarityString}}
        </td>
        <td>{{roll.rolledCats[selectedGacha.name].cat.name}}</td>
        <td>
          <div *ngIf="i+garUberOffset < track.rolls.length" class="hover-visible-link">
            <span>{{track.rolls[i+garUberOffset].rolledCats[selectedGacha.name].guaranteedUber.name}}</span>
          </div>
        </td>
      </tr>
      <tr [class.collapse]="!roll.showDetails">
        <td colspan="4">
          <app-roll-details-mini 
            [roll]="roll"
            [nextTrackId]="nextTrackId"
            [nextTrackRollNumber]="nextTrackRollNumber(i)"
            (savedRollUpdated)="saveRoll($event)">
          </app-roll-details-mini>
        </td>
      </tr>
    </ng-template>
  </tbody>
</table>
