<div class="form-group col-xs-2">
    <label>Select Gacha</label>
    <select [(ngModel)]="selectedSet"
            class="form-control">
      <option *ngFor="let gacha of catSets" 
              [ngValue]="gacha">
              {{gacha.name}}
      </option>
    </select>
</div>
<div *ngIf="selectedSet">
  <div class="row">
    <label class="col-lg-4">Uber Rare: {{selectedSet.uberRarePercent}}%</label>
    <label class="col-lg-4">Super Rare: {{selectedSet.superAndUberRarePercent - selectedSet.uberRarePercent}}%</label>
  </div>
  <div class="row">
    <div class="col-lg-4">
      Uber Rares
      <div *ngFor="let cat of selectedSet.uberRareCats; let i = index">
        {{i}}: {{cat.name}}
      </div>
    </div>
    <div class="col-lg-4">
      Super Rares
      <div *ngFor="let cat of selectedSet.superRareCats; let i = index">
        {{i}}: {{cat.name}}
      </div>
    </div>
    <div class="col-lg-4">
      Rares
      <div *ngFor="let cat of selectedSet.rareCats; let i = index">
        {{i}}: {{cat.name}}
      </div>
    </div>
  </div>
</div>
