<div *ngIf="selectedSet">
  <div class="row">
    <div class="col-lg-4">
      <h3 class="h3">Uber Rares ({{selectedSet.uberRarePercent}}%)</h3>
      <div *ngFor="let cat of selectedSet.uberRareCats; let i = index">
        {{i}}: {{cat.name}}
      </div>
    </div>
    <div class="col-lg-4">
      <h3 class="h3">Super Rares ({{selectedSet.superAndUberRarePercent - selectedSet.uberRarePercent}}%)</h3>
      <div *ngFor="let cat of selectedSet.superRareCats; let i = index">
        {{i}}: {{cat.name}}
      </div>
    </div>
    <div class="col-lg-4">
      <h3 class="h3">Rares</h3>
      <div *ngFor="let cat of selectedSet.rareCats; let i = index">
        {{i}}: {{cat.name}}
      </div>
    </div>
  </div>
</div>
