
<nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
    <button class="navbar-toggler navbar-left" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">{{title}}</a>
    <div class="navbar-collapse collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link" [routerLink]="['dashboard']">Dashboard</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link" [routerLink]="['track']">Track</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link" [routerLink]="['cat-sets']">Sets</a>
            </li>
            <li class="nav-item">
                <app-seed></app-seed>
            </li>
            <li class="nav-item">
                <app-set-selector></app-set-selector>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid root">
    <router-outlet class="ng-view" autoscroll="true"></router-outlet>
</div>