/* .tracks {
    display: flex;
}

.track {
    flex: 50%;
    white-space: nowrap;
} */

.superRare {
    color: rgb(137, 231, 137);
}

.uberRare {
    color: white;
    background-color: darkgreen;
}