<div *ngIf="trackService.trackManager">
  <div>Select Gacha</div>
  <select [(ngModel)]="selectedGacha">
    <option *ngFor="let gacha of trackService.trackManager.gachas" [ngValue]="gacha">{{gacha.name}}</option>
  </select>

  <div class="tracks" *ngIf="selectedGacha">
    <div class="track">
        <h2>Track A</h2>
        <table class="table">
          <tr>
            <th>Roll</th>
            <th>Score</th>
            <th>Rarity</th>
            <th>Cat</th>
            <th>Guaranteed Uber</th>
          </tr>
          <tr *ngFor="let roll of trackService.trackManager.trackA.rolls; let i = index">
            <td>{{roll.id}}</td>
            <td>{{roll.score}}</td>
            <td>{{roll.rolledCats[selectedGacha.name].cat.rarityString}}</td>
            <td>{{roll.rolledCats[selectedGacha.name].cat.name}}</td>
            <td>
              <div *ngIf="i+garUberOffset < trackService.trackManager.trackA.rolls.length">
                {{trackService.trackManager.trackA.rolls[i+garUberOffset].rolledCats[selectedGacha.name].guaranteedUber.name}}
              </div>
            </td>
          </tr>
        </table>
    </div>
    <div class="track">
        <h2>Track B</h2>
        <table class="table" *ngIf="selectedGacha">
          <tr>
            <th>Roll</th>
            <th>Score</th>
            <th>Rarity</th>
            <th>Cat</th>
            <th>Guaranteed Uber</th>
          </tr>
          <tr *ngFor="let roll of trackService.trackManager.trackB.rolls; let i = index">
            <td>{{roll.id}}</td>
            <td>{{roll.score}}</td>
            <td>{{roll.rolledCats[selectedGacha.name].cat.rarityString}}</td>
            <td>{{roll.rolledCats[selectedGacha.name].cat.name}}</td>
            <td>
              <div *ngIf="i+garUberOffset < trackService.trackManager.trackB.rolls.length">
                {{trackService.trackManager.trackB.rolls[i+garUberOffset].rolledCats[selectedGacha.name].guaranteedUber.name}}
              </div>
            </td>
          </tr>
        </table>
    </div>
  </div>

  <div>
      <button class="btn" (click)="addRows(100)">Add 100 Rows</button>
  </div>
</div>
