<div *ngIf="trackService.trackManager">
  <div class="form-group row">
    <div class="col-lg-4">
      <label for="drawCountSelect">Guaranteed Draw Count</label>
      <select [(ngModel)]="garUberOffset"
              class="form-control"
              id="drawCountSelect">
        <option *ngFor="let drawCount of garUberDrawOptions"
                [ngValue]="drawCount">
          {{drawCount}}+1
        </option>
      </select>
    </div>
  </div>
  <div class="form-group row"></div>

  <div class="tracks" *ngIf="selectedGacha">
      <app-single-track class="track" 
      [track]="trackService.trackManager.trackA" 
      [garUberOffset]="garUberOffset"
      [selectedGacha]="selectedGacha"
      [savedRollId]="savedRollId"
      (savedRollUpdated)="updateSavedRoll($event)">
    </app-single-track>
    <app-single-track class="track" 
      [track]="trackService.trackManager.trackB" 
      [garUberOffset]="garUberOffset"
      [selectedGacha]="selectedGacha"
      [savedRollId]="savedRollId"
      (savedRollUpdated)="updateSavedRoll($event)">
    </app-single-track>
  </div>

  <div>
      <button class="btn btn-primary" (click)="addRows(100)">Add 100 Rows</button>
  </div>
</div>
