<div *ngIf="trackService.trackManager">
  <div class="form-group row">
    <app-seed class="col-lg-4"></app-seed>
    <div class="col-lg-4">
      <label>Gacha Set</label>
      <select [(ngModel)]="selectedGacha"
              (ngModelChange)="onSelectedGachaChanged($event)"
              class="form-control">
        <option *ngFor="let gacha of trackService.trackManager.gachas" 
                [ngValue]="gacha">
                {{gacha.name}}
        </option>
      </select>
    </div>
    <div class="col-lg-4">
      <label>Guaranteed Draw Count</label>
      <select [(ngModel)]="garUberOffset"
              class="form-control">
        <option *ngFor="let drawCount of garUberDrawOptions"
                [ngValue]="drawCount">
          {{drawCount}}+1
        </option>
      </select>
    </div>
  </div>
  <div class="form-group row"></div>

  <div class="tracks" *ngIf="selectedGacha">
      <app-single-track class="track" 
      [track]="trackService.trackManager.trackA" 
      [garUberOffset]="garUberOffset"
      [selectedGacha]="selectedGacha">
    </app-single-track>
    <app-single-track class="track" 
      [track]="trackService.trackManager.trackB" 
      [garUberOffset]="garUberOffset"
      [selectedGacha]="selectedGacha">
    </app-single-track>
  </div>

  <div>
      <button class="btn btn-primary" (click)="addRows(100)">Add 100 Rows</button>
  </div>
</div>
